<nav class="main-nav">
    <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
    <a href="/about/" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
    <a href="/blog/" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a>
    <a href="/contact/" {% if page.url == '/contact/' %}class="active"{% endif %}>Contact</a>
    <a href="/get-involved/" {% if page.url == '/get-involved/' %}class="active"{% endif %}>Get Involved</a>
</nav>
